#root {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: #ffffff
}

@media only screen and (max-width: 767px) {
  body {
    height: auto !important;
    background-color: #ffffff
  }
}

@media print {
  body * {
    visibility: hidden;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}